ultralytics>=8.0.0 # Para usar YOLO (incluye ByteTrack)
opencv-python>=4.8.0 # Dibuja rectangulo x frames.
#===================================================================================
face-recognition>=1.3.0 # Reconoce rostros (embedding)-> vector de características
# por cada foto es un embedding, se puede comparar con otros embeddings para ver si son la misma persona o no.
#===================================================================================
numpy>=1.24.0 # Manipulación de arrays, probablemente no lo usemos directamente pero es una dependencia de otras librerías.
pandas>=2.0.0 # Manipulación de datos (csv) -> manejar asistencias
matplotlib>=3.7.0 # Visualización de datos -> graficos de asistencia, etc.
pillow>=10.0.0 # Manipulación de imágenes para transformacion de las imagenes a un estandar para el modelo de reconocimiento facial.
# Se mocha temporalmente: tqdm>=4.65.0 # Barra de progreso para procesos largos, como el entrenamiento del modelo o el procesamiento de videos.
# En el drive: jupyter
# En el drive: ipykernel
